table, th, td {
    border: 1px solid seagreen;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
}

#dark-mode {
    background-color: #0d1b2a;
    color: #778da9;
    margin: 0px;
    /* font-family: 'Oxygen Mono'; */
}