:root {
    --backround-dark-blue: #000814;
    --midnight-express: #1b263b;
    --silver-lake-blue: #778da9;
}

table, th, td {
    border: 1px solid var(--midnight-express);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: collapse;
}

body {
    margin: 0px;
    font-family: 'Oxygen Mono';
}

.dark-mode {
    background-color: var(--backround-dark-blue);
    color: var(--silver-lake-blue);
}

.stocks-table {
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
}

.stocks-table-rows {
    position: relative;
    padding: 5px;
    margin: auto;
}

.stocks-form {
    position: absolute;
    align-items: center;

    margin-top: -171px;
    margin-left: 82.2%;

    padding-bottom: 7px;
    padding-left: 7px;

    border: 1px solid var(--midnight-express);
    width: 330px;
}

input {
    background-color: var(--midnight-express);
    color: #ffff;
    border: 0px;
    height: 20px;
    width: auto;
}